body{
    height: 100%;
    width: 100%;
}
#rowOne {
    /* background-color: #0bd3d3; */
    background-image: url("/styles/boatpic.png");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
    text-align: center;
    height: 100vh;
}
#rowTwo {
    background-color: #f890e7;
    text-align: center;
    height: 100vh;
}
#rowThree {
    background-color: #ffffff;
    text-align: center;
    height: 100vh;
}
 #rowThree {
    background-color: #d0d0d0;
    text-align: center;
    height: 100vh;
}
#rowFour {
    background-color: #000000;
    text-align: center;
    height: 100vh;
}

